server {
    listen 127.0.0.1:8443 ssl http2;
    server_name {{ domain }};

    root /var/www/{{ domain }};
    index index.html;


#    ssl_certificate     /etc/nginx/self/{{ domain }}.crt;
#    ssl_certificate_key /etc/nginx/self/{{ domain }}.key;
    ssl_certificate     /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    add_header Cache-Control "public, max-age=300";

    location / {
        try_files $uri $uri/ /index.html;
    }

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }
}