{
  "log": {
    "disabled": false,
    "level": "info",
    "timestamp": true
  },
  "dns": {
    "servers": [
      {
        "type": "udp",
        "tag": "remote-dns",
        "server": "127.0.0.1",
        "server_port": 53
      }
    ],
    "rules": [
      { "server": "remote-dns" }
    ],
    "strategy": "ipv4_only"
  },
  "inbounds": [
    {
      "type": "shadowsocks",
      "tag": "ss-in",
      "listen": "{{ singbox_server_listen }}",
      "listen_port": {{ singbox_server_port }},
      "method": "{{ singbox_server_method }}",
      "password": "{{ singbox_server_password }}"{% if singbox_server_multiplex | bool %},
      "multiplex": {
        "enabled": true,
        "padding": true
      }{% endif %}
    },
    {
      "type": "shadowtls",
      "tag": "shadowtls-in",
      "listen": "0.0.0.0",
      "listen_port": {{ de_shadowtls_port }},
      "version": 3,
      "users": [
        { "name": "edge", "password": "{{ de_shadowtls_password }}" }
      ],
      "handshake": {
        "server": "{{ de_shadowtls_handshake_server }}",
        "server_port": 443
      },
      "strict_mode": true,
      "detour": "shadowtls-ss-in"
    },
    {
      "type": "shadowsocks",
      "tag": "shadowtls-ss-in",
      "listen": "127.0.0.1",
      "network": "tcp",
      "method": "{{ de_shadowtls_ss_method }}",
      "password": "{{ de_shadowtls_ss_secret }}"{% if singbox_server_multiplex | bool %},
      "multiplex": {
        "enabled": true,
        "padding": true
      }{% endif %}
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "auto_detect_interface": true,
    "final": "direct",
    "default_domain_resolver": {
      "server": "remote-dns"
    },
    "rules": [
      { "action": "sniff" },
      { "protocol": "dns", "action": "hijack-dns" }
    ]
  }
}
